/* BEGIN EXTERNAL SOURCE */

        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }

        .w3-half img {
            margin-bottom: -6px;
            margin-top: 16px;
            opacity: 0.8;
            cursor: pointer
        }

            .w3-half img:hover {
                opacity: 1
            }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ornek {
            width: 1000px;
            margin: auto;
        }

        .saga-kaydir {
            float: right;
            padding: 0 0 10px 10px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .ornek2 {
            width: 1100px;
            margin: auto;
        }

        .sola-kaydir {
            float: left;
            padding: 0 10px 10px 0;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        body {
            background-color: rgb(247, 247, 238);
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
nav {
z-index:3;width:300px;font-weight:bold;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
width:100%;font-size:22px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
cursor:pointer
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:340px;margin-right:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:80px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
border-radius: 160px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
border-radius: 160px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
border-radius: 160px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top:0
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 85px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:100%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:100%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:75px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
hr {
width:50px;border:5px solid black
}
/* END EXTERNAL SOURCE */
